# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
DerivedData/
.build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# macOS
.DS_Store
*.DS_Store

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# Secrets / API keys
Secrets.swift
*.env
Config.plist
